extends templates/layout

block main
    main
         h2 Our Services
            .sections-grid
                section(class="section section1")
                    h3 
                        a(href="#") Hospitals
                section(class="section section2")
                    h3 
                        a(href="#") Hotels
                section(class="section section3")
                    h3 
                        a(href="#") House Cleaning
                section(class="section section4")
                    h3 
                        a(href="#") End of Tenancy
                section(class="section section5")
                    h3 
                        a(href="oven-cleaning.html") Oven Cleaning
                section(class="section section6")
                    h3
                        a(href="#") Covid Disinfection