doctype html
html 
    head
        title My first pug pages
    body 
        h1 
            | My header of my 
            |first pug pages
        
        main 
            h2 This the main part
            div.my-div
            div#next-id-div
            .wo-tag-class 
            #wo-tag-id
            .class1.class2.class3#and-id
            a(href="https://www.google.com") Google link
            link(rel='stylesheet' href='css/style.css')
            div(data-temp='28' id='temp')
            div#temp(data-temp='28')